*{
    font-family: "Times New Roman", cursive, serif, "times new roman", arial;
    line-height: 1;
    box-sizing: border-box;
}

body{
    background-color: #2d2857;
    color: #aac7ee;
    font-optical-sizing: auto;
    font-style: normal;
    color: #aac7ee;
    text-align: center;
    line-height: normal;
}
h1 {
    color: #aac7ee;
    font-family: "Dancing Script" cursive, serif, Arial, Helvetica, sans-serif, "times new roman";
    font-size: 70px;
    font-weight: 900;
    font-style: italic;  
    border: 3px solid #ffffff;
    background-color: black;
    padding: 30px;
    margin: 0 auto;
    line-height: 1;
    border-bottom: 3px solid white;
    width: 90%;
    height: 80%;

}
section {
    border: 1px solid gainsboro;
    background-color: black;
    margin: 0 auto 30px;
    padding: 30px;
    width: 90%;
}
.title {
    height: 100px;
   /* width: 100px;*/
    padding: 15px;
    border: 15px solid black;
   /* margin: 20px;*/
    background-color: black;
}

h2{
    color: #aac7ee;
    font-size: 20;
}
ul{
    margin: 0 auto; 
    padding-left:0; 
}
h3{ 
    color: #aac7ee;
    line-height: 1;
}
p {
    color: rgb(159, 159, 231);
    color: #aac7ee;
    /*color light lavender*/
     margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 0;
}

header a{
    color: rgb(172, 172, 235);
    text-decoration: none;
}

h4{
    color: #aac7ee;
    line-height: 20%; 
}

a{
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul{
    list-style-position: inside;
}

h5{
    color:#aac7ee;
    font-size: 17px;
    line-height: 5%;
}

h6{
    color:#aac7ee;
    font-size: 20px;
    line-height: 1;
    font-family: "Times New Roman", cursive, "tinmes new roman";
}
p{
    line-height: 1;
}

h7{ 
    color:#aac7ee;
    font-size: 20px;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

ol, ul {
    margin: 20px;
}

footer{
    width: 90%;
    margin: 0 auto;
}
#about {
  background-color: #2d2857;
  color: #aac7ee;
  font-size: 20px;
}
h2{
    font-size: 20px;
}
h6{
text-align: center;
line-height: 1;
}
.image-container{
    width: 375px;
    height: 200px;
    border: 1px solid white;
    background-image: url("images/one.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1000px;
    margin: 0 auto;
}
.div-2{ 
      width: 375px;
    height: 200px;
    border: 1px solid white;
    background-image: url("images/two.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1000px;
    margin: 0 auto;
}
.div-3 {
  width: 375px;
    height: 200px;
    border: 1px solid white;
    background-image: url("images/three.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1000px;
    margin: 0 auto;
}
body {
  background-image: url("images/Untitled\ design.png");
}

.banner {
  height: 350px;
  width: 91%;
  margin: 0 auto;
  background-image: url("images/clapboard-311208_1280.png");
  position:relative;
  right: 10px;
}